footer {
  display: flex;
  justify-content: space-between;
  height: 85px;
  padding: 0 160px;
  background-color: hsl(229, 31%, 21%);
  color: white;
  .footerLeft {
    display: flex;
    align-items: center;
    svg {
      margin-right: 65px;
    }
    a {
      margin-right: 50px;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: color 0.13s ease-in-out;
      &:hover {
        color: hsl(0, 94%, 66%);
      }
    }
  }
  .footerRight {
    display: flex;
    align-items: center;
    a {
      padding-top: 10px;
      margin-left: 40px;
      &:hover {
        svg {
          path {
            fill: hsl(0, 94%, 66%);
            transition: all 0.13s ease-in-out;
          }
        }
      }
    }
  }
}
