html {
  font-size: 100%;
  box-sizing: border-box;
  /* height: 100%; - if attribution don't want to stick to bottom */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  /* min-height: 100%; - if attribution don't want to stick to bottom  */
  margin: 0;
  padding: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  font-family: "Rubik", sans-serif;
  position: relative; ///for footer with absolute position --> */
}
textarea,
input {
  outline: none;
  border: none;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
