footer {
  display: block;
  height: auto;
  padding: 40px 32px 35px;
  .footerLeft {
    display: block;
    svg {
      display: block;
      margin: 0 auto 40px;
    }
    a {
      display: block;
      margin: 0 auto 30px;
      text-align: center;
      font-size: 15px;
    }
  }
  .footerRight {
    a {
      margin: 7px 20px 0; //40 between images
    }
  }
}
